.header__ul {
  display: flex;
  gap: 40px;
}

nav {
  display: none;
}


.active {
  color: white;
}

.header__logo {
  width: 60px;
}

header {
  width: 100%;
  height: 117px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 15;
}

.header__burger-menu {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(8px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.header__burger-menu span {
  position: absolute;
  top: 30px;
  width: 30px;
  background-color: white;
  height: 2px;

}

.header__burger-menu::after {
  content: "";
  position: absolute;
  width: 30px;
  background-color: white;
  height: 2px;
  top: 19px;
}

.header__burger-menu::before {
  content: "";
  position: absolute;
  bottom: 16px;
  width: 30px;
  background-color: white;
  height: 2px;
}


.header__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__nav-text {
  font-size: 20px;
  transition: all 0.1s ease;
}

.header__nav-text:hover {
  filter: brightness(1.1);
}

.menu {
  width: 280px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.900);
  position: absolute;
  display: flex;
  right: 11px;
  top: 11px;
  flex-direction: column;
  border-radius: 8px;
}

.menu-header {
  background-color: #000000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

}

.header__logo-menu {
  height: 30px;
}

.menu-nav {
  padding: 15px;
}

.menu-nav ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.menu-nav a {
  font-size: 20px;
}

.menu-nav a:hover {
  color: white;
}

@media (max-width: 1250px) {
  .menu {
    right: 25px;
    top: 0px;
  }


}


@media (max-width: 1450px) {
  header {
    margin-top: 0;
  }


}

@media (max-width: 1125px) {
  .menu {
    width: 260px;
    height: 380px;
  }


}

@media (max-width: 1025px) {
  .menu {
    width: 240px;
    height: 350px;
  }


}

@media (max-width: 900px) {
  .menu {
    width: 215px;
    height: 300px;
  }


}

@media (max-width: 650px) {
  .menu {
    width: 174px;
    height: 250px;
  }

  .menu-nav a {
    font-size: 15px;
  }

  .header__burger-menu {
    width: 50px;
    height: 50px;

  }

  .header__burger-menu span {
    position: absolute;
    top: 25px;
  }

  .header__burger-menu::before {
    bottom: 14px;
  }

  .header__burger-menu::after {
    top: 17px;
  }

  .header__logo {
    width: 50px;
  }
}




@media (max-width: 768px) {
  nav {
    display: none;
  }
}