@font-face {
  font-family: montserrat-M;
  src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: montserrat-R;
  src: url('../fonts/Montserrat-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #121212;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: montserrat-M, sans-serif;
  color: #cbcbcb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat-M, sans-serif;
}

p {
  font-family: montserrat-M, sans-serif;
}

.container {
  max-width: 1255px;
  padding: 11px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1255px;
    padding: 0 25px;
    margin: 0 auto;
  }

}

@media (max-width: 426px) {
  .container {
    padding: 0px 10px;
  }

}

button {
  border: none;
  cursor: pointer;
}