@keyframes movie-maskot {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-15px);
    }
}



.welcome {
    background-image: url("../assets/background_image.png");
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1450px;
    width: 100%;
    height: 630px;
    position: relative;
    border-radius: 14px;
    margin: -120px auto 0;
    z-index: 1;
    background-size: cover;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome-wrapper-text {
    display: flex;
    justify-content: center;
    width: 725px;
    height: 355px;
    background-color: rgb(0 0 0 / 65%);
    flex-direction: column;
    padding: 55px 50px;
    gap: 15px;
    backdrop-filter: blur(8px);
    border-radius: 17px;
    margin-left: 85px;
}

.welcome-wrapper-text h1 {
    font-size: 40px;
}

.welcome-wrapper-text p {
    font-size: 32px;
    font-family: montserrat-R, sans-serif;
}

.maskot {
    width: 480px;
    height: 300px;
    z-index: -1;
    position: absolute;
    right: 210px;
    animation: movie-maskot 2s infinite alternate ease-in-out;
}

.main__welcome-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner {
    margin-top: -120px;
    z-index: 5;
}

.main__banner-container {
    display: flex;
    gap: 17px;
}

.main__banner-card {
    width: 400px;
    height: 240px;
    background-color: #1A1A1A;
    display: flex;
    padding: 12px 22px 12px 14px;
    border-radius: 8px;
}

.main__banner-card-img {
    width: 165px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.main__banner-card-text {
    margin-left: 13px;
    position: relative;
    width: 195px;
}

.main__banner-card-text-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main__banner-card-name {
    font-size: 28px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main__banner-card-online {
    font-size: 25px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.main__banner-card-online::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #00BA03;
    box-shadow: 0 0 4px 2px rgb(0 255 89 / 49%);
    box-shadow: 0 0 4px 2px rgb(0 255 89 / 49%);
    box-shadow: 0 0 4px 2px rgb(0 255 89 / 49%);
    position: absolute;
    left: -15px;
    border-radius: 50%;
}

.main__banner-card-btn-join {
    background: linear-gradient(90deg, rgb(106 0 255 / 100%) 0%, rgb(145 66 241 / 100%) 33%, rgb(164 98 234 / 100%) 64%, rgb(183 131 227 / 100%) 100%);
    width: 130px;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    transition: all .2s ease;
}

.main__banner-card-btn-join a {
    color: white;
}

.main__banner-card-btn-join:hover {
    filter: brightness(0.8);
}

.main__banner-card-btn-heart {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #303030;
    color: rgb(100 100 100);
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
}

.main__banner-card-btn-heart:hover {
    filter: brightness(0.8);
}


.main__banner-card-text-subtitle {
    margin-top: 5px;
    font-size: 16px;
    color: #D6D6D6;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 195px;
}

.main__banner-card-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.main__banner-ad {
    width: 400px;
    height: 240px;
}

.main__banner-card-ad {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.main__banner-ad {
    position: relative;
}

.main__banner-ad::after {
    content: "Реклама";
    display: block;
    position: absolute;
    z-index: 10;
    top: -30px;
    font-size: 20px;
    font-family: montserrat-M, sans-serif;
    left: 50%;
    transform: translateX(-50%);
}

.main__chats-card {
    width: 295px;
    height: 500px;
    background-color: #1A1A1A;
    border-radius: 10px;
    position: relative;
    padding: 14px;
    display: flex;
    flex-direction: column;
}

.main__chats-card img {
    width: 100%;
    height: 265px;
    object-fit: cover;
    border-radius: 10px;
}

.main__chats-card-text-title {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.main__chats-card-text-name {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main__chats-card-text-online {
    font-size: 25px;
    margin-left: 20px;
    position: relative;
    align-items: center;
    display: flex;
}

.main__chats-card-text-online::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #00BA03;
    box-shadow: 0 0 4px 2px rgb(0 255 89 / 49%);
    box-shadow: 0 0 4px 2px rgb(0 255 89 / 49%);
    box-shadow: 0 0 4px 2px rgb(0 255 89 / 49%);
    position: absolute;
    left: -15px;
    border-radius: 50%;
}

.main__chats-card-text-subtitle {
    margin-top: 5px;
    font-size: 15px;
    color: #D6D6D6;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 263px;
}

.main__chats-card-text {
    position: relative;
    height: 100%;
}

.main__chats-card-btn {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
}

.main__chats-card-btn-join {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid transparent;
    font-size: 25px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    background:
        linear-gradient(#303030, #303030) padding-box,
        linear-gradient(90deg, rgb(106 0 255 / 100%) 0%, rgb(145 66 241 / 100%) 33%, rgb(164 98 234 / 100%) 64%, rgb(183 131 227 / 100%) 100%) border-box;
    background-clip: padding-box, border-box;
    background-repeat: no-repeat;
    transition: all .1s ease;

}

.main__chats-card-btn-join a {
    color: white;
}

.main__chats-card-btn-heart {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #303030;
    color: rgb(100 100 100);
    font-size: 25px;
    cursor: pointer;
    transition: all .1s ease;
}

.main__chats-card-btn-join:hover {
    filter: brightness(0.8);
}

.main__chats-card-btn-heart:hover {
    filter: brightness(0.8);
}

.main__chats-cards {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main_filter-chats input {
    background-color: #222;
    width: 400px;
    height: 50px;
    color: #9D9D9D;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.main_filter-chats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.main_filter-chats-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main_filter-chats-btn-heart {
    background-color: #222;
    width: 50px;
    height: 50px;
    color: red;
    font-size: 25px;
}

.main_filter-chats-btn-filter {
    background-color: #222;
    width: 180px;
    height: 50px;
    color: white;
    font-size: 25px;
}

.main_filter-chats-btn-reload {
    background-color: #222;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1450px) {
    .welcome {
        border-radius: 0 0 14px 14px;
    }


}

@media (max-width: 1260px) {

    .welcome-wrapper-text h1 {
        font-size: 35px;
    }

    .welcome-wrapper-text p {
        font-size: 25px;
    }

    .welcome-wrapper-text {
        width: 600px;
        height: 250px;
        padding: 10px 30px;
    }

    .main__banner-container {
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main__banner-ad::after {
        display: none;
    }

    .main__chats-cards {
        margin-top: 20px;
        column-gap: 40px;
    }

    .welcome {
        height: 550px;
    }

    .maskot {
        height: 260px;
        width: auto;
    }

}


@media (max-width: 1130px) {
    .main__chats-card {
        width: 240px;

    }

    .main__chats-cards {
        gap: 20px;
    }

    .main__chats-card-btn-join {
        width: 150px;
    }

    .main__chats-card-text-subtitle {
        width: 215px;
        -webkit-line-clamp: 4;
    }
}

@media (max-width: 1024px) {
    .welcome {
        height: 500px;
    }

    .welcome-wrapper-text {
        width: 480px;
        height: 210px;
        padding: 10px 25px;
        gap: 9px;
    }

    .welcome-wrapper-text h1 {
        font-size: 30px;
    }

    .welcome-wrapper-text p {
        font-size: 20px;
    }

    .maskot {
        height: 220px;
    }
}

@media (max-width: 900px) {
    .welcome-wrapper-text {
        width: 400px;
        height: 190px;
    }

    .welcome-wrapper-text p {
        font-size: 18px;
    }

    .welcome-wrapper-text h1 {
        font-size: 25px;
    }

    .welcome-wrapper-text {
        padding: 5px 20px;
    }
}



@media (max-width: 870px) {
    .main__banner-card {
        width: 350px;
        padding: 10px;
    }

    .main__banner-card-name {
        font-size: 25px;
    }

    .main__banner-card-online {
        font-size: 20px;
    }

    .main__banner-card-text-subtitle {
        font-size: 14px;
    }

    .main__banner-card-btn-join {
        width: 90px;
    }

    .main__banner-card-text-subtitle {
        width: 150px;
        -webkit-line-clamp: 4;
    }

    .main__banner-card-text {
        margin-left: 13px;
        position: relative;
        width: 150px;
    }
}

@media (max-width: 810px) {
    .main__banner-card {
        width: 320px;
        height: 200px;
        padding: 10px;
    }

    .main__banner-card-img {
        object-fit: cover;
        width: 140px;
        height: 100%;
    }

    .main__chats-card {
        width: 210px;
        height: 415px;
    }

    .main__chats-card-text-name {
        font-size: 25px;
    }

    .main__chats-card-text-online {
        font-size: 20px;
    }

    .main__chats-card img {
        height: 200px;
    }

    .main__chats-card-btn-join {
        height: 40px;
        width: 125px;
        font-size: 25px;
    }

    .main__banner-card-btn-heart {
        height: 40px;
        width: 40px;
        font-size: 25px;
    }

    .main__banner-card-btn-join {
        height: 40px;
        width: 100px;
    }

    .main__chats-card-text-subtitle {
        width: 180px;
        -webkit-line-clamp: 3;
    }

}


@media (max-width: 768px) {
    .welcome {
        background-image: url("../assets/background_image.png");
        background-position: center;
        background-repeat: no-repeat;
        max-width: 1450px;
        width: 100%;
        height: 340px;
        border-radius: 0 0 14px 14px;
        margin: -120px auto 0;
        z-index: 1;
        background-size: cover;
        position: relative;

    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .welcome-wrapper-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110px;
        background-color: rgb(0 0 0 / 65%);
        flex-direction: column;
        backdrop-filter: blur(8px);
        border-radius: 0 0 14px 14px;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 50px;
        gap: 10px;
    }

    .welcome-wrapper-text h1 {
        font-size: 28px;
    }

    .welcome-wrapper-text p {
        font-size: 13px;
        font-family: montserrat-R, sans-serif;
        text-align: center;
    }

    .maskot {
        width: 250px;
        height: auto;
        z-index: -1;
        margin: 15px 0;
        animation: movie-maskot 2s infinite alternate ease-in-out;
        position: static;
    }

    .main__welcome-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .banner {
        z-index: 5;
        margin-top: 20px;
    }

    .main__banner-ad {
        max-width: 400px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 710px) {
    .main__banner-card {
        width: 280px;
    }

    .main__banner-card-name {
        font-size: 20px;
    }

    .main__banner-card-online {
        font-size: 15px;
    }

    .main__banner-card-text-subtitle {
        font-size: 15px;
    }

    .main__banner-card-img {
        width: 100px;
    }

    .main__banner-card {
        height: 150px;
    }

    .main__banner-card-text-subtitle {
        font-size: 12px;
    }

    .main__banner-card-btn-join {
        height: 35px;
        width: 100px;
    }

    .main__banner-card-btn-heart {
        height: 35px;
        width: 35px;
        font-size: 18px;
    }

    .main__chats-card {
        width: 180px;
    }

    .main__chats-card-text-name {
        font-size: 20px;
    }

    .main__chats-card-text-online {
        font-size: 15px;
    }

    .main__chats-card-text-subtitle {
        font-size: 13px;
    }

    .main__chats-card {
        height: 380px;
    }

    .main__chats-card-btn-join {
        height: 35px;
        width: 100px;
        font-size: 18px;
    }

    .main__chats-card-text-subtitle {
        width: 155px;
        -webkit-line-clamp: 5;
    }

    .main__banner-card-text-subtitle {
        width: 145px;
        -webkit-line-clamp: 2;
    }
}

@media (max-width: 630px) {
    .main__banner-card {
        width: 250px;
    }

    .main__banner-card-text-subtitle {
        font-size: 11px;
    }

    .main__banner-card-btn-heart {
        height: 30px;
        width: 30px;
        font-size: 20px;
    }

    .main__banner-card-btn-join {
        height: 30px;
        width: 80px;
        font-size: 20px;
    }

    .main__chats-cards {
        gap: 15px;
    }

    .main__chats-card img {
        height: 150px;
    }

    .main__chats-card {
        height: 315px;
        width: 165px;
    }

    .main__chats-card-btn-join {
        height: 30px;
        width: 100px;
        font-size: 18px;
    }

    .main__chats-card {
        padding: 10px;
    }

    .footer_swarm-logo {
        display: block;
        width: 60px;
        margin: 45px auto;
        transform: translateY(20px);
    }

    .main__banner-card-text-subtitle {
        width: 115px;
        -webkit-line-clamp: 2;
    }

    .main__chats-card-text-subtitle {
        width: 145px;
        -webkit-line-clamp: 2;
    }

    .main__banner-card-text {
        margin-left: 13px;
        position: relative;
        width: 120px;
    }
}

@media (max-width: 575px) {
    .main__banner-card-btn-join {
        height: 30px;
        width: 101px;
        font-size: 20px;
    }

    .main__banner-card-text-subtitle {
        font-size: 12px;
    }

    .maskot {
        right: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .main__banner-card-text-subtitle {
        width: 220px;
    }

    .main__banner-card {
        width: 360px;
    }

    .main__banner-card-text {
        width: 221px;
    }

    .main__chats-card {
        height: 315px;
        width: 155px;
    }

    .main__chats-card-text-subtitle {
        width: 135px;
        -webkit-line-clamp: 3;
    }

}

@media (max-width: 426px) {
    .welcome-wrapper-text {
        padding: 0;
        gap: 0;
    }

    .main__banner-card {
        width: 315px;
    }

    .main__banner-card-text-subtitle {
        width: 180px;
        -webkit-line-clamp: 2;
    }

    .main__chats-card {
        height: 300px;
        width: 165px;
    }

    .main__chats-card img {
        height: 140px;
    }

    .main__chats-card-text-subtitle {
        width: 145px;
        -webkit-line-clamp: 2;
    }

    .main__banner-card-text {
        width: 180px;
    }

}

@media (max-width: 395px) {
    .main__chats-card-btn-join {
        height: 30px;
        width: 90px;
        font-size: 18px;
    }

    .main__chats-card img {
        height: 120px;
    }

    .main__chats-card {
        height: 290px;
        width: 150px;
    }

    .main__chats-card-text-subtitle {
        width: 130px;
        -webkit-line-clamp: 2;
    }

}

@media (max-width: 375px) {
    .main__banner-ad {
        width: 270px;
        height: 150px;
    }

    .main__chats-card img {
        height: 140px;
    }

    .main__chats-card {
        height: 300px;
        width: 160px;
    }

}


@media (max-width: 365px) {

    .main__chats-card-text-subtitle {
        width: 115px;
        -webkit-line-clamp: 2;
    }

    .main__banner-card-text {
        margin-left: 13px;
        position: relative;
        width: 140px;
    }

}


@media (max-width: 340px) {
    .main__banner-card-text-subtitle {
        width: 143px;
        -webkit-line-clamp: 2;
    }

    .main__banner-card {
        width: 280px;
    }

}


@media (max-width: 360px) {
    .main__banner-card {
        width: 275px;
    }

    .main__banner-card-text-subtitle {
        width: 140px;
        -webkit-line-clamp: 2;
    }

    .main__chats-card {
        height: 290px;
        width: 143px;
    }

}

@media (max-width: 320px) {
    .main__banner-card {
        width: 270px;
    }

    .main__chats-card {
        height: 315px;
        width: 125px;
    }

    .main__chats-card-btn-join {
        height: 30px;
        width: 66px;
        font-size: 18px;
    }

    .main__chats-card-text-subtitle {
        width: 105px;
        -webkit-line-clamp: 5;
    }

}